/*economics styling start MOBILE*/

#economics ul {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    list-style: circle;
    padding-left: 40px;
    padding-right: 40px;

}

/*
#economics h3 {
    text-align: center;
}

#economics p {
    text-align: left;

}
*/

/*economics styling slut*/



/*skat styling start MOBILE*/

#skat h3 {
    font-family: futura-pt, sans-serif;
    font-size: 2em;
    text-align: center;
    color: #F8D574;
}

#skat h4 {
    padding: 15px;
    text-align: center;
}




/*skat styling slut*/



/*finansiering styling start MOBILE*/

#finansiering li {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    list-style: number;
    padding-left: 40px;
    padding-right: 40px;

}

#finansiering h3 {
    padding: 0;
    margin: 0;
}

/*finansiering styling slut*/



/*jura styling start MOBILE*/


/*jura styling slut*/



/*investering styling start MOBILE*/


#investering ul {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    list-style: circle;
    padding-left: 40px;
    padding-right: 40px;

}

/*investering styling slut*/





/*****************************MEDIAQUERY FOR DESKTOP START*******************************/

@media only screen and (min-width:600px) {}

@media only screen and (min-width:1024px) {}

@media only screen and (min-width: 1280px) {}
