/* ------ GENERELLE INDSTILLINGER ----------*/


* {
    box-sizing: border-box;

}

body {
    margin: 0;
    background-image: url(billeder/waves9.svg);
    background-size: cover;

}



section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.section_til_billede {
    padding: 0px;
}

/* Layoutstyling */

section {
    display: flex;
    flex-wrap: wrap;

}

img {
    width: 100%;
    padding: 0;
}

figure {
    margin: 0;
}

.wp-block-group {
    flex-grow: 1;
    flex-basis: 400px;
}

/* -------- STYLING TIL TEKSTERRRRRRRRRRRRRR -----------*/

p {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    padding: 0 15px 0 15px;
}

h1 {
    font-family: 'Playfair Display',
        serif;
    /*    font-family: futura-pt;*/
    /*    font-family: georgia;*/
    font-weight: 600;
    font-size: 3em;
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;

}

h2 {
    font-family: futura-pt, sans-serif;

    font-weight: 600;
    font-size: 1.6em;

    text-align: left;
    padding-bottom: 15px;
    padding-left: 15px;
}

h3 {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    text-align: left;
    padding: 15px;
    padding-left: 15px;
}

h4 {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    text-align: left;
    padding: 15px;
    padding-left: 15px;
}





/* ------------- HEADER OG FOOTER ---------------*/
/*burgermenu*/

.mobilelogo {
    filter: invert(1);
    width: 15vw;
    position: absolute;
    left: 42.5vw;

}

header {
    background-color: white;
    color: white;
    margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-family: futura-pt;
    text-transform: uppercase;
    font-weight: 300;
}

.bgcolor {
    background-color: #3c4b6e;
}

header img {
    filter: invert(1);
}

.burgermenu {
    display: block;

}

.desktop_nav,
.mainmenu {
    display: none;
}

/* desktop menu  */

.active {}

.inactive {
    opacity: 0.3;
}

/* Menu Funktioner */

.multi_level,
.item ul,
.burgermenu input,
[type="checkbox"] {
    display: none;


}

#menu:checked ~ .multi_level,
.item input:checked ~ ul {
    display: block;
}


/* ----- LINKS --------*/

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    opacity: 1;
}

/* Menu styling*/

.burgermenu {
    text-align: right;
}

.hovedpunkt {
    width: 100vw;
    height: 15vw;
}

.hovedpunkt label {
    font-size: 1.5rem;
    font-weight: 300;
}

.multi_level {
    margin: 5vw;
    vertical-align: middle;
    text-align: left;
}


.burgermenu ul,
.burgermenu li,
label {
    list-style-type: none;
    text-decoration: none;
    vertical-align: middle;
    line-height: 10vw;
    padding: 0vw 0vw;
    font-size: 1rem;
    font-weight: 100;
}

.item ul {
    padding: 0 5vw;

}

.item li {
    padding: 2vw 0vw;

}

a {
    text-decoration: none;
    color: white;

}


/* Pil */

.pil {
    width: 10vw;
    height: 10vw;
    vertical-align: middle;
    float: right;
    z-index: 0;
}

.item input + .pil {
    transform: rotate(0deg);
    transition: 0.5s;
}

.item input:checked + .pil {
    transform: rotate(-180deg);
    transition: 0.5s;
}

/*  Burgermenu animation */

#nav_icon {
    width: 10vw;
    height: 10vw;
    margin: 4vw 2vw 0vw 2vw;
    position: relative;
    left: 83vw;
    top: 5.5vw
}

.bar {
    height: 0.8vw;
    width: 100%;
    background-color: #3c4b6e;
    display: block;
    border-radius: 3px;
    transition: 0.4s ease;

}



#bar1 {
    transform: translateY(-8px)
}

#bar3 {
    transform: translateY(8px)
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(8px) rotateZ(-45deg);

}

.change #bar3 {
    transform: translateY(-0px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}




/*footer*/

footer {
    width: 100vw;
    background-color: #3c4b6e;
    color: white;
    font-family: georgia, serif;
    font-weight: 100;
    text-align: left;
    font-family: futura-pt;
    font-weight: 400;

}

footer p {
    font-family: futura-pt;
    font-weight: 400;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
}

footer a {
    font-family: futura-pt;
    font-weight: 400;
}

footer h3 {
    text-align: left;
    font-family: futura-pt;
    font-weight: 400;
}

.col {
    background-color: #3c4b6e;
    padding: 20px;
    margin: 20px;


}

.footergrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin: 0 auto;
    max-width: 1000px;

}

.footergrid a {
    display: block;
    color: white;
    margin: 5px 0 5px 0;
}

.footergrid h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 7px;
}

/* ----------- animationer -----------*/

.hide_animation {
    animation-name: hide_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes hide_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.fadeout {
    animation-name: fadeout_kf;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {

        opacity: 0;
    }
}

.fadein {
    animation-name: fadein_kf;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fadein_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slidedown {
    animation-name: slide_kf;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

}

.slideop {
    animation-name: slideop_kf;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;


}

@keyframes slide_kf {
    0% {
        transform: translateY(-15%);
        opacity: 0;
        pointer-events: none;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideop_kf {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(-15%);
        opacity: 0;
        pointer-events: none;
    }
}




/* -------- STYLING TIL FORSIDE -----------*/


#forside section {
    flex-wrap: wrap-reverse;
}

#forside .wp-block-quote {

    font-size: 1.5rem;
    text-align: center;
    margin-top: 0vw;
    margin-bottom: 0vw;
}

#forside .wp-block-quote {
    padding: 5vw;
}

#forside .group_reverse {
    flex-wrap: wrap-reverse;
}


/* -------- STYLING TIL HOVEDMENUPUNKTSIDE -----------*/

#konceptet_nav {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 35px;


}

#konceptet_nav button {
    flex-basis: auto;
    flex-grow: 1;
    background-color: #3c4b6e;
    border-radius: 5px;
    margin: 2vw;
}


#konceptet_nav a {
    font-family: futura-pt;
    font-size: 0.9rem;
    font-weight: 600;
}


/* ------------- MEDIAQUIRES ---------------*/
@media only screen and (min-width:600px) {
    .footergrid {
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
}

@media only screen and (min-width:800px) {
    /* ------------- HEADER OG FOOTER ---------------*/

    .desktop_nav,
    .mainmenu {
        display: block;
    }

    .burgermenu {
        display: none;
    }

    /*
    .desktop_nav {
        display: block;
    }

    .mainmenu {
        display: block;
    }


*/
    .desktoplogo {
        filter: invert(1);
        width: 60px;
        height: auto;
        position: absolute;
        left: 1.5vw;
        top: 1.5vw;
    }

    .login_icon {
        width: 32px;
        height: 32px;
        background-image: url(billeder/login_icon2.svg);
        background-size: cover;
        position: absolute;
        right: 6vw;
        top: 2.2vw;
        pointer-events: none;
    }

    .danskeflag {
        width: 27px;
        height: 20px;
        background-image: url(billeder/danskeflag.png);
        background-size: cover;
        position: absolute;
        right: 2.4vw;
        top: 2.65vw;
        pointer-events: none;
    }




    /*header*/

    header {
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;

        margin: 0 auto;
        width: 100%;
        background-color: white;
        text-transform: uppercase;
        padding: 20px 0 20px 0;
        overflow: visible;


    }

    header h4 {
        font-weight: 500;
        font-family: futura-pt;
        padding: 0;
        text-align: left;
    }

    header a {
        font-family: futura-pt;
        padding: 0;
        text-align: left;
        font-size: 0.85rem;
        font-weight: 400;

    }



    .desktop_nav {
        position: relative;
        max-width: 1200px;
        width: 100%;
        margin: auto;
        height: 100%;
    }

    ul {
        margin: 0;
        padding: 0;

    }





    header a {
        color: black;
    }

    header h4 a:hover {
        opacity: 1;
    }

    .dropdownmenu {
        display: grid;
        grid-template-columns: repeat(6, 17%);
        margin-top: 30px;
        padding: 10px 50px 50px 50px;
        background-color: white;
        position: absolute;
        width: 100%;
        transform: translateY(-115%);
        z-index: 100000;
        color: black;
        /*        background-color: #3c4b6e;
 */
    }


    .hide {
        display: none;

    }

    ul {
        list-style-type: none;
    }

    .mainmenu {
        display: grid;
        grid-template-columns: repeat(6, 17%);
        cursor: pointer;
        padding: 20px 50px 0 50px;
        max-width: 1200px;
        width: 100%;
        margin: auto;
        color: #3c4b6e;
    }

    .mainmenu a:active {}

    /**/
    .desktop_nav a:active {
        color: #ff8f15;
    }

    /*  Menu på hovedmenuside  */

    #konceptet_nav {
        margin: auto;
        display: flex;
        flex-wrap: nowrap;

    }

    #konceptet_nav button {
        margin: 10px;
        background-color: #3c4b6e;
        border-radius: 5px;
    }


    #konceptet_nav a {
        font-family: futura-pt;
        font-size: 1rem;
        font-weight: 600;
        color:
    }

}
