* {
    box-sizing: border-box;
}





#bliv_medlem h2 {
    text-align: left;
    padding: 15px;
}


#bliv_medlem button {
    margin: 15px;
    font-family: georgia;
    padding: 10px;
    font-size: 0.8rem;
    transition: 0.5s;

}


#bliv_medlem button:hover {
    background-color: #3c4b6e;
    color: white;
    transition: 0.5s;

}

#karriere a {
    color: black;
}

#karriere h2 {
    padding: 15px;
}

#karriere img {
    padding: 15px;
}

/* --------- TEAMET ----------*/


body {
    margin: 0;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    grid-gap: 20px;
    cursor: pointer;
}



img {
    width: 100%;
}

.data-container h2 {
    text-align: left;
    padding: 0;
}

.data-container h3 {
    text-align: left;
    padding: 0;
    font-family: futura-pt;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;

}

.data-container p {
    text-align: left;
    padding: 0;
}

.data-container .navn {
    margin-bottom: 2px;
    margin-top: 5px;

}

.email {
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 30px;
}

#teamet section {
    display: grid;
}



/*
.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
}

.title {
    flex-grow: 1;


}

.teamet_info {
    flex-grow: 1;
    flex-basis: 500px;

}*/
