#bliv_medlem h2 {
    text-align: left;
    padding: 15px;
}


#bliv_medlem button {
    margin: 15px;
    font-family: georgia;
    padding: 10px;
    font-size: 0.8rem;
    transition: 0.5s;

}


#bliv_medlem button:hover {
    background-color: #3c4b6e;
    color: white;
    transition: 0.5s;

}

#karriere a {
    color: black;
}

#karriere h2 {
    padding: 15px;
}

#karriere img {
    padding: 15px;
}

.data-container h2 {
    text-align: left;
    padding: 0;
}

.data-container h3 {
    text-align: left;
    padding: 0;
}

.data-container p {
    text-align: left;
    padding: 0;
}

.email {
    text-transform: uppercase;
}

#teamet section {
    display: grid;
}



/*
.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
}

.title {
    flex-grow: 1;


}

.teamet_info {
    flex-grow: 1;
    flex-basis: 500px;

}*/
